body {
    margin: 0;
    padding: 0;
    color: #555555;
    text-shadow: #fff 0 0 1px;
}
body:before
{
   content: "";
   position: fixed;
   top: -10px;
   left: 0;
   width: 100%;
   height: 10px;
   z-index: 100;
   -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
   -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
   box-shadow: 0px 0px 10px rgba(0,0,0,.8);
}

@font-face {
    font-family: 'texgyrepagella-italic';
    src: url('themes/simple/fonts/texgyrepagella-italic.eot?') format('embedded-opentype'),
         url('themes/simple/fonts/texgyrepagella-italic.woff') format('woff'),
         url('themes/simple/fonts/texgyrepagella-italic.ttf') format('truetype');
}

#index {
    height: 150px !important;
    /*background-color: green;*/
}
section {
    position: relative;
    /*background-color: white;*/

}
a, a:link, a:hover, a:active, a:visited {
    color: #555555;
    text-decoration: none;
}
#quote {
    width: 50%;
    margin: 30px auto;
    font-size: 1em;
    font-family: "texgyrepagella-italic";
    line-height: 1.8em;
    text-shadow: #fff 0 0 1px;
}
#text {
    width: 100%;
    display: block;
    font-size: 1.6em;
    font-style: italic;
}
#text:before {
    display: inline-block;
    content: "«";
    margin-right: 6px;
    color: #555555;
}
#text:after {
    display: inline-block;
    content: "»";
    margin-left: 6px;
}
#reload {
    position: absolute;
    font-size: 2.0em;
    top: 0.4em;
    margin-left: -1.2em;
}
#reload a,#reload a:link,  #reload a:visited {
    color: #cccccc;
}
#text a, #text a:link, #text a:hover, #text a:active, #text a:visited,
#reload a:hover, #reload a:active {
    color: #555555;
}
#author, #source {
    display: inline-block;
    float: right;
}
#author:before {
    content: "(";
}
#author:after {
    content: ")";
}
footer {
    position: absolute;
    margin: 0;
    padding: 12px 0 0 0;
    width: 100%;
    bottom: 0;
    height: 65px;
    /*background-color: red;*/
    text-align: center;
    font-size: 0.8em;
    color: #888888;
    border-top: 1px solid #cccccc;
}
footer a, footer a:link, footer a:hover, footer a:active, footer a:visited {
    color: #888888;
    text-decoration: none;
}
footer > div > span::after {
    content: "-";
    margin: 5px;
}
footer > div > span:last-child::after {
    content: "";
}
footer div {
    font-style: italic;
}