/* Palette: http://encycolorpedia.fr/293133 */
[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-pencil:before {
    content: "\e605";
}
.icon-remove:before {
    content: "\e606";
}
.icon-googleplus:before {
    content: "\e607";
}
.icon-facebook:before {
    content: "\e608";
}
.icon-twitter:before {
    content: "\e609";
}
.icon-pencil2:before {
    content: "\e600";
}
.icon-trash:before {
    content: "\e601";
}
.icon-twitter2:before {
    content: "\e602";
}
.icon-facebook2:before {
    content: "\e603";
}
.icon-googleplus2:before {
    content: "\e604";
}
.icon-shaarli {
    background: url('../images/shaarli-flower.png') no-repeat left;
    background-size: 17px 16px;
    background-color: transparent;
    width: 17px;
    height: 20px;
    font-size: 0;
    display: inline-block;
    vertical-align: top;
}
body {
    font-family: "Raleway";
    font-weight: lighter;
    color: #3b3b38;
    overflow-x: hidden;
}
h1, h2, h3, h4 {
    color: #372e3e;
}
h1, h4 {
    text-align: center;
}
nav {
    list-style: none;
    background: #17241e;
    /*width: 100%;*/
    width: 280px;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: -280px;
    z-index: 5;
}
.nav-trigger {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}
nav ul li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
nav li {
    width: 100%;
    border-bottom: 1px solid lightgrey;
}
nav a {
    display: block;
    padding: 0 10px;
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 60px;
    transition-property: color;
    transition-duration: 400ms;
}
nav li:first-child a {
    font-style: italic;
    color: darkgrey !important;
}
nav .hover a {
    font-style: italic;
    border-right: 5px solid #0fa0ce;
}
label[for="nav-trigger"] {
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 2;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
    background-size: contain;
    opacity: 0.5;
}

.nav-trigger:checked + nav + label {
    left: 295px;
}

.nav-trigger:checked + nav{
    left: 0;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
}

.nav-trigger + nav + label, nav {
    transition: left 0.2s;
}
.nav-trigger:checked + nav + label + .mask{
    visibility: visible;
}

section {
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    display: block;
    width: 80%;
    padding: 20px;
}
footer {
    position: fixed;
    display: block;
    display: none;
    bottom: 0;
    z-index: 1000;
    width: 22%;
    text-align: center;
    color: darkgrey;
    font-style: italic;
}
.button_add-quote {
    position: absolute;
    right:0;
    bottom: 0;
    clip: rect(0, 0, 0, 0);
}
label[for="button_add-quote"] {
    position: fixed;
    right: 15px;
    bottom: 15px;
    z-index: 2;
    width: 60px;
    height: 60px;
    cursor: pointer;
    border: 3px solid #d75a4a;
    border-radius: 50%;
    background-size: 32px 32px;
    background-color: #d75a4a;
    background-image: url('../images/ic_create_white_24px.svg');
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: 0 10px 15px 0px rgba(0,0,0,0.3);
}
.box_add-quote {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    right: 30px;
    bottom: 30px;
    transition-property: width, height, border-radius, background-color;
    transition-duration: 0.4s, 0.4s, 0.4s, 0.4s;
    transition-timing-function: ease-in-out;
    transition-delay: 0, 0, 0, .55s;
}

.mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    background-color: rgba(0,0,0,0.5);
    z-index: 3;
}

.box_add-quote form {
    display: none;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.button_add-quote:checked + .box_add-quote {
    width: 100%;
    height: 100%;
    right: 0;
    bottom: 0;
    border-radius: 0;
    z-index: 5;
    /*background-color: rgba(0,0,0,0.5);*/
}
.button_add-quote:checked + .box_add-quote form {
    display: block;
}
.button_add-quote:checked + .box_add-quote + .mask{
    visibility: visible;
}
.center {
    text-align: center;
}

/* Accueil */
#index h1 {
    font-style: italic;
    line-height: 150px;
}

.summary article {
    float: left;
    display: block;
    width: 48%;
    margin-top: 20px;
    margin-left: 5px;
}
.index .last-quotes span {
    display: block;
    max-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px solid #E1E1E1;
    padding: 8px 11px;
}
.index .last-quotes span a {
    text-decoration: none;
    font-style: italic;
    line-height: 1em;
    color: inherit;
}
.index th:first-child {
    width: 90%;
}

/* Nouvelle citation */
#quote textarea {
    height: 30vh;
}
#quote input[type=submit] {
    width: 28%;
    margin-top: 5vh;
}

/* quotes list */
#myQuotes td, #newQuotes td {
    background: #fff;
}
#myQuotes .actions, #allQuotes .actions {
    position: absolute;
    display: block;
    width: calc(78% - 40px);
    margin-top: -25px;
    opacity: 0;
    text-align: center;
    transition-property: length, opacity 500ms;
    transition-duration: 500ms;
}
#myQuotes .actions a, #allQuotes .actions a {
    color: #000;
    text-decoration: none;
    background-color: white;
}
.spanSep {
    display: inline-block;
    width: 5px;
}
#myQuotes td:hover .actions, #allQuotes td:hover .actions {
    margin-top: 2px;
    opacity: 1;
}
#myQuotes .author, #allQuotes .author {
    font-style: italic;
}
#myQuotes .tags, #allQuotes .tags {
    display: block;
    margin-top: 5px;
}
#myQuotes .tags span, #allQuotes .tags span {
    padding: 5px;
    height: 20px;
    line-height: 10px;
    margin-left: 3px;
    margin-bottom: 0px;
    cursor: default;
    transition-property: border;
    transition-duration: 400ms;
}
#myQuotes .tags span a, #allQuotes .tags span a {
    text-decoration: none;
}
#myQuotes .tags span:first-child, #allQuotes .tags span:first-child {
    margin-left: 0;
}

/* Personnalisation */
#personalization #user input[type=submit] {
    width: 28%;
}
#personalization #deleteAccount input {
    background-color: #f00;
    border-color: #f00;
}

/* Configuration */
#configuration th:first-child {
    width: 90%;
}

/* Searchstring */
#authorsuggest, #authorsuggest li, #tagssuggest, #tagssuggest li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#authorsuggest, #tagssuggest {
    border: 1px solid #33C3F0;
    outline: 0;
    margin-left: 0px;
    border-radius: 4px;
    background: white;
}
#authorsuggest li, #tagssuggest li {
    cursor: pointer;
    padding: 5px 12px;
}
#authorsuggest li:hover, #authorsuggest li .hover,
#authorsuggest li:focus, .author-suggest-focus,
#tagssuggest li:hover, #tagssuggest li .hover,
#tagssuggest li:focus, .tags-suggest-focus {
    background: #33C3F0 !important;
    color: #FFF !important;
}
#authorsuggest a, #tagssuggest a, #tempspan1 {
    font-weight: normal;
    color: #222;
    text-decoration: none;
}
/* pagination */
.pagination, .pagination a {
text-align:center;
}
.pagination a {
    margin-right: 2px;
}
.pagination a:nth-last-child(2) {
    margin-right: 0;
}

.pagination a:first-child, .pagination a:last-child {
    margin: 0;
}
.pagination a:first-child {
float: left;
}
.pagination a:last-child {
float: right;
}
.pagination a.button  {
    display: inline-block;
    width: 70px;
    padding: 0;
}

/* all quotes, my quotes */
form {
    text-align: center;
}
input[type=submit] {
    width: 20%;
}
